.white_bg {
    background-color: rgb(207, 196, 196);
    color: rgb(34, 17, 18);
}

.nav_white {
    background-color: rgb(73, 66, 66);
    color: rgb(158, 235, 17);
}

.black_bg {
    background-color: rgb(17, 16, 16);
    color: rgb(214, 224, 158);
}

.nav_black {
    font-family: 'Dancing Script', cursive;
    background-color: rgb(4 125 177);
    color: rgb(255, 255, 255);
}
.white_bg {
    background-color: rgb(207, 196, 196);
    color: rgb(34, 17, 18);
}

.nav_white {
    background-color: rgb(73, 66, 66);
    color: rgb(158, 235, 17);
}

.black_bg {
    background-color: rgb(17, 16, 16);
    color: rgb(214, 224, 158);
}

.nav_black {
    font-family: 'Dancing Script', cursive;
    background-color: rgb(4 125 177);
    color: rgb(255, 255, 255);
}
