.flex_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 25px;
}

.top_height {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}
.top_height2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    left: 10px;
}
.margin{
    margin: 50px;
}

.box{
    width: 75%;
    margin: auto;
    background-color: yellowgreen;
    color: black;
    height: 300px;
}

.middle{
    width: 80%;
    margin: auto;
}

.box1{
    width: 20%;
    margin-top: 50px;
    height: 100vh;
    background-color: rgb(132, 136, 125);
    border: 5px solid yellowgreen;
    border-radius: 30px;
}
.box2{
    width: 70%;
    height: 100vh;
    border-radius: 30px;
    margin-top: 50px;
    background-color: rgb(132, 136, 125);
    border: 5px solid yellowgreen;
    /* visibility: hidden; */
}

.slip{
    height: 70px;
    width: 90%;
    margin: 13px;
    background-color: rgb(27, 27, 27);
}

.white_box{
    background-color: white;
    padding: 10px;
    width: 135px;
    font-size: 14px;
}

.home_box{
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    height: 300px;
    width: 330px;
    background-color: rgb(115 179 255);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 19px;
}
.image{
    /* padding: 10px; */
    margin: auto;
    display: block;
    height: 200px;
    width: 250px;
}
.flex_c{

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.button{
    color: black;
    background-color: #b8e469;
    width: 300px;
    margin: auto;
    border:2px solid black;
    border-radius: 10px;
    font-family: 'Karantina', cursive;
}

.equation_box{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    height: 600px;
    width: 80%;
    background-color: rgb(115 179 255);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 19px;
}
.btn{
    text-align: center;
    display: block;
    margin: auto;
    width: 100px;
}
.answerh{
    position: relative;
    color: rgb(97, 13, 13);
    top: -60px;
}
.answerph{
    position: relative;
    color: rgb(97, 13, 13);
    top: -130px;
}

